<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>::Placement Portal::</title>
</head>
<body>
<h1>Placement Portal</h1>

<div>
<h1>Placement List</h1>

 <a th:href = "@{/showNewPlacementForm}"> Add Placement </a>   

<table border="1">
<thead>
<tr>
<th>Job Title</th>
<th>Company Name/Code</th>
<th> Actions </th>
</tr>
</thead>

<tbody>
<tr th:each="placement : ${listPlacements}">
<td th:text="${placement.plJobtitle}"></td>
<td th:text="${placement.plCompany}"></td>
<td>
 
 <a th:href="@{/showDetailed/{id}(id=${placement.plId})}">Details</a>
 <a th:href="@{/placementUpdateForm/{id}(id=${placement.plId})}">Update</a>  
 <a th:href="@{/deletePlacement/{id}(id=${placement.plId})}">Delete</a> 
   
</td>
</tr>
</tbody>
</table>

</div>
</body>
</html>